<a href="https://colab.research.google.com/github/Mberi58/Electric-Car-/blob/main/Ann_Mberi_Week4_Independent_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing Pandas
import pandas as pd

In [ ]:
#import numpy
import numpy as np

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving Autolib_dataset.csv to Autolib_dataset (1).csv

In [ ]:
# Creating a Dataframe from a csv file 
# 
df = pd.read_csv('Autolib_dataset.csv', delimiter = ',')
df

# Uncomment the following lines after running the previous lines
# df_url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
# df = pd.read_csv(df_url)
# df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#Check the data types for the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

###Data Cleaning

In [ ]:
#Since our data frames have alot of columns and information we need to do some data cleaning. We go through the five stages when cleaning the data
#Validity
#Accuracy 
#Completeness
#Consistency
#Uniformity

####A. Validity

In [ ]:
#We drop the data we are not using in our analysis This involves dropping irrelevant data which we won't use in our analysis

#First we drop the unnecessary column in our analysis that should be the geo point column
df.drop("Geo point", axis=1, inplace=True)

In [ ]:
# The ID column and the public column are similar hence we drop the ID column
df.drop("ID", axis=1, inplace=True)

In [ ]:
# In our analysis the display will not be of much use, so we drop it
df.drop("Displayed comment", axis=1, inplace=True)

In [ ]:
# Finally we drop the last column which is the scheduled column, it still not necessary 
df.drop("Scheduled at", axis=1, inplace=True)

In [ ]:
#We know that the data was collected from ist April to 9th April so I create a date column. Then after we will
#concatenate the year, month and day columns into one
df.loc[:,'Date'] = pd.to_datetime(df.day.astype(str) + '-' + df.month.astype(str) + '-' + df.year.astype(str))
df

                                 Address  Cars  ...  minute       Date
0                    2 Avenue de Suffren     0  ...      43 2018-08-04
1              145 Rue Raymond Losserand     6  ...      24 2018-06-04
2       2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-03-04
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret     3  ...      23 2018-08-04
...                                  ...   ...  ...     ...        ...
4995                 8 avenue MÃ©nelotte     2  ...      26 2018-06-04
4996                   37 rue de Dantzig     4  ...      56 2018-04-04
4997                      142 rue du Bac     1  ...       1 2018-01-04
4998         2 avenue du Val de Fontenay     2  ...      27 2018-04-04
4999                 5 Rue Henry Brisson     4  ...       2 2018-08-04

[5000 rows x 22 columns]

In [ ]:
# We then drop the day, month, year and minute column to make the data logical 
# Remember in our analysis question we were asked about the hour so we will not drop it
df.drop(["year","month","day","minute"], axis=1, inplace=True)

In [ ]:
#Run the data to view the remaining columns 
df

                                 Address  Cars  ...  hour       Date
0                    2 Avenue de Suffren     0  ...    11 2018-08-04
1              145 Rue Raymond Losserand     6  ...     7 2018-06-04
2       2 Avenue John Fitzgerald Kennedy     3  ...    20 2018-03-04
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4 2018-04-04
4     6 avenue de la Porte de Champerret     3  ...    17 2018-08-04
...                                  ...   ...  ...   ...        ...
4995                 8 avenue MÃ©nelotte     2  ...    11 2018-06-04
4996                   37 rue de Dantzig     4  ...    16 2018-04-04
4997                      142 rue du Bac     1  ...     7 2018-01-04
4998         2 avenue du Val de Fontenay     2  ...    17 2018-04-04
4999                 5 Rue Henry Brisson     4  ...    10 2018-08-04

[5000 rows x 18 columns]

####B.Accuracy

In [ ]:
# This involves checking whether the resources in our data file are accurate
# i.e cars, bluecar counter, utilib, utilib 1.4, charging slots and slots
df["Cars"].sum()

11668

In [ ]:
# The total number of cars is 11668
#The Bluecar counter = Cars. Therefore the sum is equal to
#Proof below by running the sum 
df["Bluecar counter"].sum()

11668

In [ ]:
# On checking the accuracy we run both the sum of the cars and that of the blue cars 
Accuracy = df["Cars"].sum() == df["Bluecar counter"].sum()
Accuracy

True

####C.Completeness

In [ ]:
#We confirm if the data file is complete and we do that by checking for missing or null values 
df.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
hour                   False
Date                   False
dtype: bool

####D.Consistency

In [ ]:
#We confirm if there are any duplicate values
df.duplicated().any()

True

In [ ]:
#Please remember that the car column and the blue car column are the same so we drop the car column
df.drop("Cars", axis=1, inplace=True)

####E. Uniformity

In [ ]:
# For uniformity we make sure that all the column names are the uniform
df = df.rename(columns = str.lower)
df.head()

                              address  bluecar counter  ...  hour       date
0                 2 Avenue de Suffren                0  ...    11 2018-08-04
1           145 Rue Raymond Losserand                6  ...     7 2018-06-04
2    2 Avenue John Fitzgerald Kennedy                3  ...    20 2018-03-04
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4 2018-04-04
4  6 avenue de la Porte de Champerret                3  ...    17 2018-08-04

[5 rows x 17 columns]

### We Export our cleaned dataset into a file - CSV File

In [ ]:
#We go back to where we began with our csv file but this time around we do that we clean datasets
# If we ever need to use this files it would be achievable since, the file is clean and can be used in different circumstances 
# We name the new csv file df Usage
df.to_csv('df Usage.csv',index=False)

In [ ]:
print(df)

                                 address  bluecar counter  ...  hour       date
0                    2 Avenue de Suffren                0  ...    11 2018-04-08
1              145 Rue Raymond Losserand                6  ...     7 2018-04-06
2       2 Avenue John Fitzgerald Kennedy                3  ...    20 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4 2018-04-04
4     6 avenue de la Porte de Champerret                3  ...    17 2018-04-08
...                                  ...              ...  ...   ...        ...
4995                 8 avenue MÃ©nelotte                2  ...    11 2018-04-06
4996                   37 rue de Dantzig                4  ...    16 2018-04-04
4997                      142 rue du Bac                1  ...     7 2018-04-01
4998         2 avenue du Val de Fontenay                2  ...    17 2018-04-04
4999                 5 Rue Henry Brisson                4  ...    10 2018-04-08

[5000 rows x 17 columns]

In [ ]:
df.head()

                              address  bluecar counter  ...  hour       date
0                 2 Avenue de Suffren                0  ...    11 2018-08-04
1           145 Rue Raymond Losserand                6  ...     7 2018-06-04
2    2 Avenue John Fitzgerald Kennedy                3  ...    20 2018-03-04
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4 2018-04-04
4  6 avenue de la Porte de Champerret                3  ...    17 2018-08-04

[5 rows x 17 columns]